/* .overlay {
    display: block;
} */

.overlay {
    display: none;

}

.overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: gray;
    opacity: 0.4;
}

.show {
    display: block;
}

.hide {
    display: none;
}